<!DOCTYPE html>
<html lang="en" ng-app="tweetApp">
    <head>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Mi estilo-->


        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>


        <meta charset="UTF-8">
        <title>Twee-r-king</title>


    </head>
    <body ng-controller="ChatCtrl">
        <div class="container">
            <div class="col">
                <div class="col-md-offset-1 col-md-6" id="left">
                    <h1>Usuario</h1>
                    <p>Usuario actual:</p>
                    <p><input type="text" ng-model="user"></p>

                    <p>Usuario busqueda:</p>
                    <p><input type="text" ng-model="userId"></p>
                    <p><input type="button" value="GO!" onClick="buscar()"></p>
                </div>

                    <div class="text-left">
                    <h1>Tweets</h1>
                </div>
            </div>
            <div class="col">
                <div class="col-md-offset-4 col-sm-6">
                    <ul class="chatbox">
                        <li ng-repeat="message in messages"><b>{{ message.user }}</b>: {{ message.text }}</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="col-md-offset-3 col-sm-9">
                    <form ng-submit="addMessage()">
                        <input ng-model="message" type="text">
                        <input value="Enviar" type="submit">
                    </form>
                </div>
            </div>
        </div>
        <!-- Modules -->
        <script src="app.js"></script>
        <!-- Controllers -->
        <script src="controller.js"></script>
        <!-- Factory -->
        <script src="factory.js"></script>
    </body>
</html>



