<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=2">

        <!-- Mi estilo-->


        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>


        <meta charset="UTF-8">
        <title>Twee-r-king</title>


    </head>
    <body ng-app="tweetApp" ng-controller="TweetCtrl">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-1 col-md-6" id="general">
                    <h1>Usuario</h1>

                    <!-- setear usuario -->
                    <p>
                        <input type="text" ng-model="usuario">
                        <input type="submit" value="Login" ng-click="setUsuario()">
                    </p>

                    <p>Usuario: {{ userId }}</p>
                    <p>Nombre: {{ usuarioNombre.$value }}</p>
                    <p>Descripcion: {{ usuarioDescripcion.$value }}</p>
                    </br>
                    <!-- TODO: resolver error de añadir follower repetido -->
                    <p>
                        <input type="text" ng-model="usuarioSeguidoNuevo">
                        <input type="button" value="Seguir" ng-click="addSeguido()"></p>
                    <p>
                        <input type="text" ng-model="tweetMsg">
                        <input type="button" value="Tuitear" ng-click="addTweet()"></p>
                    <p>Siguiendo: </p>
                    <ul class="chatbox">
                        <li ng-repeat="seguido in seguidos">{{ seguido.idUser }}</li>
                    </ul>
                </div>

                <div class="col-md-offset-6 col-sm-6" id="usuarioTweet">
                    <h2>Tuits:</h2>

                    <ul class="chatbox">
                        <li ng-repeat="tweet in usuarioTweets">{{ userId }}-> {{ tweet.text }}</li>
                    </ul>
                </div>

                <div class="col-md-offset-6 col-sm-6" id="seguidoTweet">
                    <h2>Tuits:</h2>

                    <ul class="chatbox">
                        <li ng-repeat="tweet in usuarioTweets">{{ userId }}-> {{ tweet.text }}</li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- Modules -->
        <script src="app.js"></script>
        <!-- Controllers -->
        <script src="controller.js"></script>
        <!-- Factory -->
        <script src="factory.js"></script>
    </body>
</html>



